<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=com.coforge.training"/>
        <listEntry value="artifactId=spring-core"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.coforge.training.springcore"/>
        <listEntry value="outputDirectory=C:\Users\Vivek.Patel\training\spring-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\VIVEK~1.PAT\AppData\Local\Temp\m2e-archetypeGenerator1412880619044152317"/>
</launchConfiguration>
